# Ignore Gradle project-specific cache directory
.gradle

# Kotlin Gradle plugin data, see https://kotlinlang.org/docs/whatsnew20.html#new-directory-for-kotlin-data-in-gradle-projects
.kotlin/

# Ignore Gradle build output directory
build

# Ignore IntelliJ files
.idea

# Ignore Kotlin files
.kotlin

# Locally set Gradle parameters
local.properties